<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication Listings Homepage</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link the styles.css file -->
</head>
<body class="container">
    <header class="header">
        <h1>Publication Listings Homepage</h1>     
    </header>
    <p>
        {% if login_success %}
        <div class="alert alert-success">
            You have been logged in successfully!
        </div>
        {% endif %}
    </p>
    <main>
      
        <div class="homepage-buttons">
            <a href="/search" class="button">Search Publications</a>
            <a href="/add_publication" class="button">Add Publication</a>
        </div>
    </main>
    <footer class="footer">
        &copy; 2024 Publication Listings
    </footer>
</body>
</html>
