<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link the styles.css file -->
</head>
<body>
    <div class="black-overlay">
        <header class="header">
            <h1>User Login</h1>
        </header>
        <main class="main-content">
            <p>
                {% if Signup_success %}
                    <div class="alert alert-success" style="color: green;">
                        Signup successful! You can now login.
                    </div>
                {% endif %}
        
            </p>

            <p>
                {% if Login_failure %}
                    <div class="alert alert-error" style="color: red;">
                        Invalid email or password. Please try again.
                    </div>
                {% endif %}
        
            </p>

            <form action="/login" method="post">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <div class="back-button">
                    <input class="button" type="submit" value="Login">
                </div>
            </form>
            <p>Don't have an account? <a href="/signup_page">Sign Up</a></p>
        </main>
        <footer class="footer">
            &copy; 2024 Publication Listings
        </footer>
    </div>
</body>
</html>
