<!DOCTYPE html>
<html>
<head>
    <title>Modify Publication</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link the styles.css file -->
    <style>
    .input-box {
        width: 300px; /* Adjust the width as needed */
    }
    </style>
</head>
<body class="container">
    <div class="black-overlay">
        <header class="header">
        <h1>Modify Publication</h1>
    </header>
    <main>
        <form action="/modify_publication/{{ publication.ID }}" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ publication.Title }}" required class="input-box"><br>
            <label for="date_published">Date Published:</label><br>
            <input type="date" id="date_published" name="date_published" value="{{ publication.DatePublished }}" required class="input-box"><br>
            <label for="pages">Pages:</label><br>
            <input type="text" id="pages" name="pages" value="{{ publication.Pages }}" class="input-box"><br>
            <label for="doi">DOI:</label><br>
            <input type="text" id="doi" name="doi" value="{{ publication.DOI }}" class="input-box"><br>
            <label for="link">Link:</label><br>
            <input type="text" id="link" name="link" value="{{ publication.Link }}" class="input-box"><br>
            <label for="authors">Authors:</label><br>
            <input type="text" id="authors" name="authors" value="{% for author in authors %}{{ author.FirstName }} {{ author.LastName }}{% if not loop.last %}, {% endif %}{% endfor %}" class="input-box"><br>
            <label for="keywords">Keywords:</label><br>
            <input type="text" id="keywords" name="keywords" value="{% for keyword in keywords %}{{ keyword.Keyword }}{% if not loop.last %}, {% endif %}{% endfor %}" class="input-box"><br><br>
            <div class="back-button">
                <input class="button" type="submit" value="Modify Publication">
            </div>
        </form>
        
        <!-- Button to delete publication -->
        <div class="back-button">
            <form action="/confirm_delete_publication/{{ publication.ID }}" method="post">
                <input class="button delete-button" type="submit" value="Delete Publication">
            </form>
        </div>
        
        <div class="back-button">
            <a href="/homepage" class="button">Back</a>
        </div>
    </main>
    <footer class="footer">
        &copy; 2024 Publication Listings
    </footer>
</body>
</html>
