<!DOCTYPE html>
<html>
<head>
    <title>User Sign Up</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link the styles.css file -->
</head>
<body class="container">
    <header class="header">
        <h1>User Signup</h1>
    </header>
    <main>
        <form action="/signup" method="post">
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" required><br>
            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
            <input type="submit" value="Submit">
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </main>
    <footer class="footer">
        &copy; 2024 Publication Listings
    </footer>
</body>
</html>
