<!--
This page displays the message that the publication was successfully restored via a Javascript function
-->

<!DOCTYPE html>
<html>
<head>
    <title>Undo Delete Success</title>
    <script>
        // This function shows the message that the publication was restored successfully
        function showPopup() {
            alert("Publication successfully restored!");

            setTimeout(function(){
                window.location.href = "/homepage";
            }, 0);
        }
        window.onload = showPopup;
    </script>
</head>
</html>